// Variables

$color-primary: #6b717f;
$color-secondary:#8C8C8C;
$color-title:#BF4080;
$primary-bg-color:#FFFFFF;
$success-bg-color: green;
$error-bg-color:red;
$warning-bg-color:orange;
$general-padding: 16px; 